body {
  font-family: serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

.name {
  letter-spacing: 8px;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.unlock {
  margin-bottom: 40px;
}
